@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-custom {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left, #4776E6, #8E54E9);

    --background: 236 49.4% 4.72%;
    --foreground: 236 7.6% 97.95%;

    --muted: 236 38% 17.7%;
    --muted-foreground: 236 7.6% 55.9%;

    --popover: 236 49.8% 7.67%;
    --popover-foreground: 236 7.6% 97.95%;

    --card: 236 49.8% 7.67%;
    --card-foreground: 236 7.6% 97.95%;

    --border: 236 38% 17.7%;
    --input: 236 38% 17.7%;

    --primary: 236 76% 59%;
    --primary-foreground: 236 7.6% 5.8999999999999995%;

    --secondary: 236 38% 17.7%;
    --secondary-foreground: 236 7.6% 97.95%;

    --accent: 236 38% 17.7%;
    --accent-foreground: 236 7.6% 97.95%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 236 7.6% 97.95%;

    --ring: 236 76% 59%;
    --radius: .5rem;
}